<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomai.myproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CodeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".okhttp.activity.OKHttpActivity" />
        <activity android:name=".recyclerview.activity.RecyclerViewActivity" />
        <activity android:name=".json.activity.JsonActivity" />
        <activity android:name=".json.activity.GsonActivity" />
        <activity android:name=".json.activity.FastJsonActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".picasso.activity.PicassoActivity" />
        <activity android:name=".picasso.activity.PicassoListViewActivity" />
        <activity android:name=".picasso.activity.PicassoTransformationActivity" />
        <activity android:name=".wheelpicker.activity.WheelPickerViewActivity" />
        <activity android:name=".demo.MyMultiItemListViewDemoActivity" />
        <activity android:name=".demo.MyEditDialogDemoActivity" />
        <activity android:name=".demo.DataBaseDemoActivity" />
        <activity android:name=".demo.MyDownloadDemoActivity" />
        <activity android:name=".demo.VolleyAndImageLoaderDemoActivity" />
        <activity android:name=".demo.NumberProgressBarDemoActivity" />
        <activity android:name=".demo.FragmentActivityDemoActivity" />
        <activity android:name=".demo.LoopViewPagerDemoActivity" />
        <activity android:name=".demo.LoopViewPagerDemo2Activity" />
        <activity android:name=".demo.RecyclerViewDemoActivity" />
        <activity
            android:name=".demo.VitamioDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".demo.VitamioWithoutControllerDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".demo.PropertyAnimationDemoActivity" />
        <activity android:name=".demo.GifDemoActivity" />
        <activity android:name=".demo.WebViewJsDemoActivity" />
        <activity android:name=".demo.GlideDemoActivity" />
        <activity android:name=".demo.FileDownloaderDemoActivity" />
        <activity android:name=".demo.NoHttpDemoActivity" />
        <activity android:name=".demo.NoHttpDownloadDemoActivity" />
        <activity android:name=".demo.SwipeRefreshLayoutDemo" />
        <activity android:name=".demo.CoordinatorLayoutDemo" />
        <activity android:name=".demo.AppBarLayoutDemoActivity" />
        <activity android:name=".demo.NotificationDemoActivity" />
        <activity android:name=".demo.ServiceDemoActivity" />
        <activity android:name=".demo.BannerViewDemoActivity" />
        <activity android:name=".demo.TextViewLinkActivity" />
        <activity android:name=".demo.TuYa2Activity" />
        <activity android:name=".demo.AlphaActivity" />
        <activity android:name=".demo.ViewDemoActivity" />
        <activity android:name=".demo.AlarmDemoActivity" />
        <activity android:name=".demo.SensorDemoActivity" />
        <activity android:name=".demo.YaoYiYaoDemoActivity" />
        <activity android:name=".demo.CustomViewActivity" />
        <activity android:name=".demo.ImageScaleTypeDemoActivity" />
        <activity android:name=".demo.ListViewDemoActivity" />
        <activity android:name=".demo.ListDialogDemoActivity" />
        <activity android:name=".demo.ViewDemo2Actvity" />
        <activity android:name=".demo.LabelsViewActivity" />
        <activity android:name=".demo.AndroidWithHttpsDemoActivity" />
        <activity android:name=".demo.CrashHandlerActivity" />
        <activity android:name=".demo.ZXLibraryDemoActivity" />
        <activity android:name=".demo.ZXLibraryCustomDemoActivity" />
        <activity android:name=".demo.MatDemoActivity" />
        <activity android:name=".demo.VerticalSeekBarDemoActivity" />
        <activity android:name=".demo.MultiSelectListViewDemoActivity" />
        <activity android:name=".demo.MultiSelectListViewDemo2Activity" />
        <activity android:name=".demo.ButterKnifeDemoActivity" />
        <!-- NoHttpDemo -->
        <activity android:name=".nohttpdemo.activity.splash.SplashActivity" />
        <activity android:name=".nohttpdemo.activity.splash.WelcomeActivity" />
        <activity android:name=".nohttpdemo.activity.StartActivity" />
        <!-- NoHttpDemoEnd -->
        <!-- ContentProvider -->
        <provider
            android:name=".database.DataBaseProvider"
            android:authorities="@string/authorities"
            android:exported="true" />

        <service android:name=".service.ServiceDemo" />
        <service android:name=".service.LongRunningService" />

        <receiver android:name=".receiver.AlarmReceiver" />
        <receiver android:name=".receiver.MessageReceiver" />

        <activity android:name=".glide.activity.GlideActivity" />
        <activity android:name=".glide.activity.GlideBaseActivity" />
        <activity android:name=".glide.activity.GlideRecyclerViewActivity" />
        <activity android:name=".glide.activity.GlideTransformationActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".rxjava.RxJavaSimpleActivity" />
        <activity android:name=".rxjava.RxJavaComplexActivity" />
        <activity android:name=".rxjava.RxJavaSchedulerActivity" />
        <activity android:name=".rxjava.RxJavaFlatActivity" />
        <activity android:name=".tablayout.activity.TabLayoutActivity" />
        <activity android:name=".lifecycle.LifeCycleActivityA" />
        <activity android:name=".lifecycle.LifeCycleActivityB" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".touchevent.TouchEventDispatchActivity" />
        <activity android:name=".bignumber.BigNumberActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.DataStructActivity"></activity>
    </application>

</manifest>