<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomai.myproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.MyMultiItemListViewDemoActivity" />
        <activity android:name=".demo.MyEditDialogDemoActivity" />
        <activity android:name=".demo.DataBaseDemoActivity" />
        <activity android:name=".demo.MyDownloadDemoActivity" />
        <activity android:name=".demo.VolleyAndImageLoaderDemoActivity" />
        <activity android:name=".demo.NumberProgressBarDemoActivity" />
        <activity android:name=".demo.FragmentActivityDemoActivity" />
        <activity android:name=".demo.LoopViewPagerDemoActivity" />
        <activity android:name=".demo.LoopViewPagerDemo2Activity" />
        <activity android:name=".demo.TextAndImageViewDemoActivity" />
        <activity android:name=".demo.RecyclerViewDemoActivity" />
        <activity
            android:name=".demo.VitamioDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".demo.VitamioWithoutControllerDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".demo.PropertyAnimationDemoActivity" />
        <activity android:name=".demo.GifDemoActivity" />
        <activity android:name=".demo.WebViewJsDemoActivity"/>
        <!-- ContentProvider -->
        <provider
            android:name=".database.DataBaseProvider"
            android:authorities="@string/authorities"
            android:exported="true" />
    </application>

</manifest>